* {
    margin:0;
}

body {
    display: grid;
    grid-template: 1fr 1fr 15fr / 1fr 4fr;
    max-height: 100vh;
}

.menu {
    grid-row: 1/-1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 165, 234);
    color: white;
    justify-content: start;
    gap: 40px;
    padding: 20px;
}

.img-big svg {
    width: 60px;
    height: 60px;
}

svg {
    width: 25px;
    height: 25px;   
}

.menu path {
    fill: white;
}

.dashboard {
    display:flex;
    align-items: center;
    gap: 10px;
}

.sections {
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.section {
    display:flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.search {
    grid-row: 1;
    grid-column: 2/-1;
    display: flex;
    gap: 10%;
    background-color: white;
}

.search-bar {
    display:flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.search-bar input {
    width: 600px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(214, 222, 232);
    border: none;
}

.info-bar {
    display:flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.info-bar img {
    width: 30px;
    height: 30px;
}

.search button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.profile {
    grid-row: 2;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    border-bottom: 4px solid rgb(148, 159, 173);
}

.profile-info {
    display: flex;
    align-items: center;
    gap:15px;
    font-weight: bold;
}

.right-para {
    font-size: 14px;
    opacity: 0.5;
}

.profile-name {
    font-size: 30px;
}

.profile-info img {
    width: 60px;
    height: 60px;
}

.profile-buttons {
    display: flex;
    justify-content: flex-end;
    gap:15px;
    align-items: center;
}

.profile-buttons button {
    color: white;
    background-color: rgb(47, 165, 234);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 30px;
}

.content {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(214, 222, 232);
    padding: 20px;
}

.left-content {
    grid-column: 1;
}

.left-content .title {
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 15px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    display:flex;
    flex-direction: column;
    gap:8px;
    padding: 20px;
    background-color: white;
    border-left: 4px solid rgb(247, 189, 0);
    border-radius: 10px;
}

.card h1 {
    font-size: 20px;
}

.card .imges {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    gap: 8px;
}

.imges button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button:hover {
    opacity: 0.5;
}

.card .imges img {
    height: 20px;
    width: 20px;
}

.right-content {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.right-content .title {
    font-weight: bold;
    font-size: 10px;
}

.ann-news {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
    margin-top: 0px;
}

.announcments {
    display: grid; 
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.announcments div {
    border-bottom: 2px solid black;
    padding: 10px;
    padding-left: 0px;
}

.announcments .right-title {
    font-size: 14px;
}

.trend-news {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.trending > div {
    display:flex;
    gap:8px;
    padding: 10px;
    padding-left: 0px;
}

.trending .right-title {
    font-size: 14px;
}

.trending img {
    height: 30px;
    width: 30px;
}